{% for article in articles %}
<div class="flex flex-col mb-10">
    <div class="w-full">
        <!-- Preview Image -->
        {% if article.article_image %}
        <img class="object-cover h-80 mb-10 w-full rounded-lg" src="{{article.article_image.url}}" alt="">
        {% endif %}
    </div>
    <div class="flex flex-col">
        <h2>Рубрика: {{ current_rubric.name }}</h2>
        <div class="dark:text-white font-bold">{{ article.title }}</div>
        <div> {{article.author.username}}</div>
        <p>{{article.created_date}}</p>
        {{ article.rubric.name }}
        <div class="dark:text-white"> {{article.content|safe|truncatewords:50}}</div>
        <div>Читать далее</div>
        {{post_detail.get_readtime}}
    </div>
</div>
{% endfor %}
